<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= yield(:title) %> | Space Plans Website
        </title>
    </head>
</html>


<h1>Home</h1>
<p>This is the main home page for the Space Plan website</p>
